.row {
    width: 100%;
}

.box {
    text-align: center;
    border: 1px solid white;
    background-color: #006cfa;
    color: white;
    padding: 1rem;
}

.inner-box {
    text-align: center;
    background-color: #00e165;
    border: 1px solid #006cfa;
    padding: 1rem;
}